/* Debug */
    [class^="col"]{
            border: 1px solid black;
        }
        /* header */
        .debug #site_header .col-3{
            background-color: blanchedalmond;
            height: 80px;
        }
        /* hero */
        .debug .hero .col-6{
            height: 200px;
        }
        .debug .hero .col-11{
            height: 200px;
        }
/* /debug */
    