header,
footer{
    background-color: #2C3E50;
}
.hero,
.about{
    background-color: #1ABC9C;
}
.link{
    background-color: #3A546D;

}
.green{
    color: #1ABC9C;
}
    
   .bar{
       width: 120px;
       height: 3px;
       border-radius: 5px;
   }

/* i::after {
  content: "";
  color: white;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    display:block;
    
   
}

i::before {
  content: "";
  color: white;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    display: block;
    
   
} */