header,
footer{
    background-color: #2C3E50;
}
.hero,
.about{
    background-color: #1ABC9C;
}
.link{
    background-color: #3A546D;

}

/* Debug */
    [class^="col"]{
            border: 1px solid black;
        }
        /* header */
        .debug #site_header .col-3{
            
            height: 80px;
        }
        /* hero */
        .debug .hero .col-6{
            height: 200px;
        }
        .debug .hero .col-11{
            height: 100px;
        }
        
        /* portfolio */
        .debug .portfolio .ad{
            height: 200px;
            
        }
        /* about */
        
/* /debug */
    