header,
footer{
    background-color: #2C3E50;
}
.hero,
.about{
    background-color: #1ABC9C;
}
.link{
    background-color: #3A546D;

}

/* Debug */
    [class^="col"]{
            border: 1px solid black;
        }
        /* header */
        
        /* hero */
        
        
        /* portfolio */
        .debug .portfolio .ad{
            height: 200px;
            
        }
        /* about */
        
/* /debug */
    .hero{
        padding: 5rem 0;
    }
    
   .bar{
       width: 100px;
       height: 3px;
       border-radius: 5px;
   }

/* i::after {
  content: "";
  color: white;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    display:block;
    
   
}

i::before {
  content: "";
  color: white;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    display: block;
    
   
} */